html,body {
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}
.It_container {
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
    overflow: hidden;
}

.It_header {
    width: 100%;
    height:45px;
    background-color: #069;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 45px;
    padding-right: 45px;
}

.It_main{
    width: 100%;
    height:100%;
    background-color: #fff;
    position: relative;
}
.It_footer {
    width:100%;
    height:55px;
    background-color: #069;
    position: absolute;
    left: 0;
    bottom: 0;
}

.It_header .icon_left,
.It_header .icon_right{
    position: absolute;
    width: 45px;
    height:45px;
    top: 0;
    text-align: center;
    color: white;
    line-height: 45px;
}

.It_header .icon_left{
    left: 0;
}
.It_header .icon_right{
    right: 0;
}
.It_header h3{
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.It_footer ul li{
    width: 25%;
    height: 55px;
    float: left;
    padding-top: 5px;
}

.It_footer ul li{
    text-align: center;
}
.It_footer ul li a{
    color: white;
}
.It_footer ul li p{
    color: white;
}
.It_footer ul li a.current{
    color: orange;
}
.It_footer ul li a.current p{
    color: orange;
}

/*导航部分*/
.It_nav{
    padding: 6px;
}
.It_nav ul li{
    float: left;
    width: 33.3%;
}

/*产品区域*/
.It_product {
    padding: 5px;
}
.It_product li{
    width: 48%;
    height: 220px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.It_product li:nth-child(2n+1){
    margin-right: 4%;
}

.It_product_item {
    text-align: center;
    border: 1px solid #ccc;
    padding-bottom: 5px;
}
.It_product_item p.info{
    height: 39px;
}
.It_product_item img{
    width: 140px;
    height:100px;
    margin:3px auto 0;
}
.It_product_item  .price{
    color: red;
}
.It_product_item .oldPrice{
    text-decoration: line-through;
}

/*公共搜索框*/
.It_search{
    padding:10px;
}
.It_search input{
    height: 33px;
    font-size: 14px;
    border: 1px solid #007aff;
    padding-right: 60px;
}
.It_search button{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0 5px 5px 0;
}

/*公共尺码样式*/
.It_size span.current{
    background-color: orange;
    color: #fff;
}
.It_size span{
    width: 25px;
    height:25px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}