/*公共样式*/
.body_bg{
    background-color: #222D32;
}
.panel-heading .panel-title{
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.mt_150{
    margin-top: 150px;
}
.mt_20{
    margin-top: 20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

/*-----------------------index页面---------------------------*/
/*左侧侧边栏*/
.It_aside{
    position: fixed;
    width:180px;
    height: 100%;
    background-color: #222D32;
    transition: all 1.5s;
    z-index:5;
}

.It_aside.hidemenu{
    transform: translateX(-180px);
}
.management_center{
    width: 180px;
    height: 50px;
    background-color: #367FA9;
    text-align: center;
    color:#fff;
    font-size: 20px;
    padding-top:15px;
}
.head_portrait{
    text-align: center;
    padding-top:30px;

}
.head_portrait img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.super_management{
    padding-top: 15px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
}
.It_aside ul li a{
    display: block;
    color:#fff;
    font-size: 16px;
    padding-left: 40px;
    height: 100%;
    line-height: 40px;
    border-left: 3px solid transparent;
}
.child a{
    display: block;
    font-size: 14px;
    padding-left: 50px !important;
}

.It_aside a.current{
    background-color: #1D1F21;
    border-left: 3px solid #069;
}

/*主体部分*/
.It_main{
    padding-left: 180px;
    padding-top: 50px;
    width: 100%;
}
.It_topbar{
    position: fixed;
    height: 50px;
    background-color: #3C8DBC;
    width:100%;
    padding-left:180px;
    top: 0;
    right: 0;
}
.It_topbar div{
    padding: 16px;
}
.It_topbar .pull-left,
.It_topbar .pull-right{
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
}
.It_main.hidemenu,
.It_topbar.hidemenu{
    padding-left:0;
}
.It_main,
.It_topbar{
    transition: all 1.5s;
}
/*模态框
*/
.modal-body{
    color:#A94442;
}

.echarts_1,
.echarts_2{
    width:48%;
    height:400px;
    /*background-color: pink;*/
}